 *{
  margin: 0;
  padding: 0;
  background-color: rgb(81, 90, 108);
  color: white;

 }

 .banner {
  background-color:black;
  color:darkred;
  text-align: center;
  overflow: hidden;
  position: relative;
 }


.grid {
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px;
  grid-template-areas: 
    ". head ." 
    ". b1 ."
    ". b2 ."
    ". b3 ."
    ". b4 ."
    ". b5 ."
    ". b6 ."
    ". b7 ."
    ". b8  ."
    ". b9  ."
    ". b10  ."
    ". foot .";
  }


.header { 
  grid-area: head;
  padding: 10px;
  text-align: center;

}

.box1 { 
  grid-area: b1;
}

.box1:hover { 
  transform: scale(1.4);

}


.box2 { 
  grid-area: b2;
}

.box2:hover { 
  transform: scale(1.4);
}

.box3 { 
  grid-area: b3;
}

.box3:hover { 
  transform: scale(1.4);
}

.box4 { 
  grid-area: b4;
}

.box4:hover { 
  transform: scale(1.4);
}

.box5 { 
  grid-area: b5;
}

.box5:hover { 
  transform: scale(1.4);
}

.footer  { 
  grid-area: foot;
 
}

.subgrid {
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 100px 200px 200px 200px;
  grid-template-rows: 100px;
  grid-template-areas: 
    "ib tb tb tb" 
}

.imagebox {
  grid-area: ib;
  border-style: groove;
  padding: 2px;

}

.imagebox:hover { 
  background-color: yellow;
}

.imagebox:hover a { 
  background-color: yellow;
}

.textbox  { 
  padding: 5px;
  grid-area: tb;
  border-style: groove;
}

.textbox a p{ 
 color:  yellow;
}

.textbox:hover { 
  background-color: yellow;
  color: black;
}

.textbox:hover p { 
  background-color: yellow;
  color: black;
}

.textbox:hover a p { 
  color: red;
}



