 *{
  margin: 0;
  padding: 0;
  background-color: rgb(81, 90, 108);
  color: black;

  

 }

 .banner {
  background-color:black;
  color:darkred;
  overflow: hidden;
  text-align: center;
  position: relative;
 }

 a {
  text-decoration: none;
 }


.grid {
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: .5fr 700px .5fr;
  grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px;
  grid-template-areas: 
    ". head ." 
    ". b1 ."
    ". b2 ."
    ". b3 ."
    ". b4 ."
    ". b5 ."
    ". b6 ."
    ". b7 ."
    ". b8  ."
    ". b9  ."
    ". b10  ."
    ". foot .";
  }


.header { 
  grid-area: head;
  padding: 10px;
  text-align: center;

}

.box1 { 
  grid-area: b1;
}

.box1:hover { 
  transform: scale(1.4);

}

.box2 { 
  grid-area: b2;
}

.box2:hover { 
  transform: scale(1.4);
}

.box3 { 
  grid-area: b3;
}

.box3:hover { 
  transform: scale(1.4);
}

.box4 { 
  grid-area: b4;
}

.box4:hover { 
  transform: scale(1.4);
}

.box5 { 
  grid-area: b5;
}

.box5:hover { 
  transform: scale(1.4);
}

.box6 { 
  grid-area: b6;
}

.box6:hover { 
  transform: scale(1.4);
}

.box7 { 
  grid-area: b7;
}

.box7:hover { 
  transform: scale(1.4);
}

.box8 { 
  grid-area: b8;
}

.box8:hover { 
  transform: scale(1.4);
}

.box9 { 
  grid-area: b9;
}

.box9:hover { 
  transform: scale(1.4);
}

.box10 { 
  grid-area: b10;
}

.box10:hover { 
  transform: scale(1.4);
}

.footer  { 
  grid-area: foot;
 
}

.subgrid {
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 100px 200px 200px 200px;
  grid-template-rows: 100px;
  grid-template-areas: 
    "ib tb tb tb" 
}

.imagebox {
  grid-area: ib;
  border-style: outset;
  padding: 2px;

}

.imagebox:hover { 
  background-color: darkred;
}

.imagebox:hover a { 
  background-color: darkred;
}

.textbox  { 
  padding: 5px;
  grid-area: tb;
  border-style: outset;
}

.textbox a p{ 
 color:  white;

}

.textbox:hover { 
  background-color: black;
  color: yellow;
}

.textbox:hover p { 
  background-color: black;
  color: yellow;
}

.textbox:hover a p { 
  color: white;
}


@media only screen and (max-width: 500px) {

.grid {
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 1px 700px 1px;
  grid-template-rows: 100px 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px 10px;
  grid-template-areas: 
    ". head ." 
    ". b1 ."
    ". b2 ."
    ". b3 ."
    ". b4 ."
    ". b5 ."
    ". b6 ."
    ". b7 ."
    ". b8  ."
    ". b9  ."
    ". b10  ."
    ". foot .";

  }

.banner {
  background-color:black;
  color:darkred;
  overflow: hidden;
  text-align: center;
  position: relative;
 }
 
.subgrid {
  /*background-image: url('background.jpg');*/
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 180px 190px 190px 190px;
  grid-template-rows: 180px;
  grid-template-areas: 
    "ib tb tb tb" 
  }

}


