 *{
  margin: 0;
  padding: 0;
/*  background-color: whitesmoke;
*/  color: white;
  

 }

 /*.banner {
  background-color:black;
  color:whitesmoke;
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin-right: auto;
 }*/

 a {
  text-decoration: none;
/*  background-color: black;
*/ }

 p {
/*  background-color: rgba(0, 0, 0, 0.5);
*/ }

 /*.text_overlay1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}


.text_overlay1:hover {
  opacity: 1;
}

.text_overlay2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}


.text_overlay2:hover {
  opacity: 1;
}

.text_overlay3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}


.text_overlay3:hover {
  opacity: 1;
}*/



.grid {
  background-color: black;
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
/*  grid-template-columns: .2fr .2fr .2fr .2fr .2fr;
*/
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: 18px repeat(3, 1fr) ;
  
  grid-template-areas: 
   
    "banner banner banner banner banner" 
    "b1 b2 b3 b4 b5"
    "b6 b7 b8 b9 b10"
    "b11 b12 b13 b14 b15" 
    "b16 b17 b18 b19 b20"
    "b21 b22 b23 b24 b25"
  }


.banner { 
  grid-area: banner;
  padding: 0px;
  background-color:black;
  color:whitesmoke;
  overflow: hidden;
  position: absolute;
  width: 100%;
/*  margin-right: auto;
*/
}

.box1 { 
  grid-area: b1;
  display: grid;
/*  background-color: black;*/

}

.box1 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box1 p {
  align-self: center;
  color: white;
  font-size: 40px;
}



.box1 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

/*.box1 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}*/



.overlay_box1 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: right;
  align-self: center;

}

.overlay_box1 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 12px;
    align-self: center;

}




.overlay_box1:hover {
opacity: 1;
}



.box1:hover { 
  transform: scale(1.2);
  filter:  invert(100%);

  

}
/*.box1:hover #tape_overlay { 
  display: block;

}*/

.box2 { 
  grid-area: b2;
  display: grid;
  background-color: black;

}

.box2 > * {
  grid-area: 1 / 1;
}

.box2 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box2 img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box2 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box2 a p {

  max-height: 100%;
  max-width: 100%;
  padding: 2px;


}

.overlay_box2:hover {
opacity: 1;

}

.box2:hover { 
  transform: scale(1.2);
/*   filter:  invert(100%);*/


  

}

.box3 { 
  grid-area: b3;
  display: grid;
  background-color: black;

}

.box3 > * {
  grid-area: 1 / 1;
}

.box3 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box3 img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box3 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box3 a p {

  max-height: 100%;
  max-width: 100%;
  padding: 2px;


}

.overlay_box3:hover {
opacity: 1;
}

.box3:hover { 
  transform: scale(1.2);


  

}


.box4 { 
  grid-area: b4;
  display: grid;
  background-color: black;

}

.box4 > * {
  grid-area: 1 / 1;
    width: 100%;
  height: 100%;
}

.box4 p {
  align-self:center;
  font-size: 40px;
}



.box4 img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box4 {
   position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box4:hover {
opacity: 1;
}

.box4:hover { 
    transform: scale(1.2);
    filter:  invert(100%);
   

  }
.overlay_box4 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.box5 { 
  grid-area: b5;
  display: grid;
  background-color: black;

}

.box5:hover { 
  transform: scale(1.2);

}

.box5 > * {
  grid-area: 1 / 1;
}

.box5 p {
  align-self:center;
  font-size: 40px;
}



.box5 img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box5 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box5 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box5:hover {
opacity: 1;

}

.box6 { 
  grid-area: b6;
  display: grid;
  background-color: black;

}

.box6:hover { 
  transform: scale(1.2);


}

.box6 > * {
  grid-area: 1 / 1;
}

.box6 p {
  align-self:center;
  font-size: 40px;
}



.box6 img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box6 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box6 a p {

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box6:hover {
opacity: 1;


}
.box7 { 
  grid-area: b7;
  display: grid;
  background-color: black;

}

.box7:hover { 
  transform: scale(1.2);
  filter:  invert(100%);

}

.box7 > * {
  grid-area: 1 / 1;
}

.box7 p {
  align-self:center;
  font-size: 40px;
}



.box7 img{ 
/*  display: block;
*/  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box7 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box7 a p {

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box7:hover {
opacity: 1;

}

.box8 { 
  grid-area: b8;
  display: grid;
  background-color: black;

}

.box8:hover { 
  transform: scale(1.2);
  

}

.box8 > * {
  grid-area: 1 / 1;
}

.box8 p {
  align-self:center;
  font-size: 40px;
}



.box8 img{ 
/*  display: block;
*/  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box8 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box8 a p {

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box8:hover {
opacity: 1;

}

.box9 { 
  grid-area: b9;
  display: grid;
  background-color: black;

}

.box9:hover { 
  transform: scale(1.2);
 

}

.box9 > * {
  grid-area: 1 / 1;
}

.box9 p {
  align-self:center;
  font-size: 40px;
}



.box9 img{ 
/*  display: block;
*/  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box9 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box9 a p {

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box9:hover {
opacity: 1;

}

.box10 { 
  grid-area: b10;
  display: grid;
  background-color: black;

}

.box10:hover { 
  transform: scale(1.2);
  filter:  invert(100%);

}

.box10 > * {
  grid-area: 1 / 1;
}

.box10 p {
  align-self:center;
  font-size: 40px;
}



.box10 img{ 
/*  display: block;
*/  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box10 {
  position: relative;
  background-image: url("lkde_tapescan.jpg");
  background-position: center;
   background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
/*  background: rgba(0, 0, 0, 0.5);*/
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box10 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box10:hover {
opacity: 1;


}

.box11 { 
  grid-area: b11;
  display: grid;
  background-color: black;

}

.box11 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box11 p {
  align-self:center;
  font-size: 40px;
}



.box11 img{ 
/*  display: block;
*/  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box11 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box11 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box11:hover {
opacity: 1;
}

.box11:hover { 
  transform: scale(1.2);
/*  filter: invert(100%);*/


}

.box12 { 
  grid-area: b12;
  display: grid;
  background-color: black;

}

.box12 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box12 p {
  align-self:center;
  font-size: 40px;
}



.box12 img{ 
/*  display: block;
*/  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box12 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box12 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box12:hover {
opacity: 1;

}

.box12:hover { 
  transform: scale(1.2);
 

}

.box13 { 
  grid-area: b13;
  display: grid;
  background-color: black;

}

.box13 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box13 p {
  align-self:center;
  font-size: 40px;
}



.box13 img{ 
/*  display: block;
*/  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box13 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box13 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box13:hover {
opacity: 1;
}

.box13:hover { 
  transform: scale(1.2);
/*  filter:  invert(100%);*/

}

.box14 { 
  grid-area: b14;
  display: grid;
  background-color: black;

}

.box14 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box14 p {
  align-self:center;
  font-size: 40px;
}



.box14 img{ 
/*  display: block;
*/  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box14 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box14 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box14:hover {
opacity: 1;
}

.box14:hover { 
  transform: scale(1.2);
  filter:  invert(100%);

}

.box15 { 
  grid-area: b15;
  display: grid;
  background-color: black;

}

.box15 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box15 p {
  align-self:center;
  font-size: 40px;
}



.box15 img{ 
  display: grid ;
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overlay_box15 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box15 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box15:hover {
opacity: 1;
}

.box15:hover { 
/*  transform: scale(1.2);
*/
}

.box16 { 
  grid-area: b16;
  display: grid;
  background-color: black;

}

.box16 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box16 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box16 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box16 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box16 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box16 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box16:hover {
opacity: 1;
}



.box16:hover { 
  transform: scale(1.2);
/*  filter: invert(100%);*/

}
.box16:hover #tape_overlay { 
  display: block;


}

.box17 { 
  grid-area: b17;
  display: grid;
  background-color: black;

}

.box17 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box17 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box17 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box17 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box17 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box17 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box17:hover {
opacity: 1;
}



.box17:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box17:hover #tape_overlay { 
  display: block;


}


.box18 { 
  grid-area: b18;
  display: grid;
  background-color: black;

}

.box18 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box18 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box18 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box18 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box18 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box18 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box18:hover {
opacity: 1;
}



.box18:hover { 
  transform: scale(1.2);
/*  filter: invert(100%);*/

}
.box18:hover #tape_overlay { 
  display: block;


}

.box19 { 
  grid-area: b19;
  display: grid;
  background-color: black;

}

.box19 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box19 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box19 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box19 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box19 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box19 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box19:hover {
opacity: 1;
}



.box19:hover { 
  transform: scale(1.2);
/*  filter: invert(100%);*/

}
.box19:hover #tape_overlay { 
  display: block;


}


.box20 { 
  grid-area: b20;
  display: grid;
  background-color: black;

}

.box20 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box20 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box20 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box20 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box20 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box20 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box20:hover {
opacity: 1;
}



.box20:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box20:hover #tape_overlay { 
  display: block;


}

.box21 { 
  grid-area: b21;
  display: grid;
  background-color: black;

}

.box21 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box21 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box21 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box21 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box21 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box21 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box21:hover {
opacity: 1;
}



.box21:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box21:hover #tape_overlay { 
  display: block;


}

.box22 { 
  grid-area: b22;
  display: grid;
  background-color: black;

}

.box22 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box22 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box22 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box22 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box22 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box22 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box22:hover {
opacity: 1;
}



.box22:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box22:hover #tape_overlay { 
  display: block;


}

.box23 { 
  grid-area: b23;
  display: grid;
  background-color: black;

}

.box23 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box23 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box23 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box23 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box23 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box23 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box23:hover {
opacity: 1;
}



/*.box23:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box23:hover #tape_overlay { 
  display: block;


}*/

.box24 { 
  grid-area: b24;
  display: grid;
  background-color: black;

}

.box24 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box24 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box24 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box24 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box24{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box24 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box24:hover {
opacity: 1;
}



/*.box24:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}
.box24:hover #tape_overlay { 
  display: block;
*/

}

.box25 { 
  grid-area: b25;
  display: grid;
  background-color: black;

}

.box25 > * { 
  grid-area: 1 / 1;
/*  width: 100%;
  height: 100%;*/
}

.box25 p {
  align-self:center;
  color: white;
  font-size: 40px;
}



.box25 img{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box25 img #tape_overlay{ 
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}



.overlay_box25 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_box25 a p{

  max-height: 100%;
  max-width: 100%;
    padding: 2px;

}

.overlay_box25:hover {
opacity: 1;
}


/*
.box25:hover { 
  transform: scale(1.2);
  filter: invert(100%);

}*/
/*.box25:hover #tape_overlay { 
  display: block;*/


}
.inside_text {
    font-size: 20px;
    display: flex;
/*    flex-direction: column;
/**/    justify-content: center;
*/    height: 100%;
    width: 100%;
}

/*
.subgrid {
  background-color: black;
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "ib"
    "tb" 
}

.imagebox {
  background-color: black;
  grid-area: ib;
  border-style: outset;
  padding: 0px;

}

.imagebox:hover { 
  background-color: darkred;
}

.imagebox:hover a { 
  background-color: darkred;
}

.textbox  { 
  padding: 0px;
  grid-area: tb;
  border-style: outset;
  background-color: black;
}

.textbox a p{ 
 color:  yellow;
 background-color: black;

}

.textbox:hover { 
  background-color: black;
  color: yellow;
}

.textbox:hover p { 
  background-color: black;
  color: yellow;
}

.textbox:hover a p { 
  color: white;
  background-color: black;
}
*/

@media only screen and (max-width: 400px) {

  *{
  max-width: 400px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: black;
  

 }

.grid {
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-gap: 10px;
  grid-template-columns: 350px;    
  grid-template-rows: 10px repeat(10, .2fr);
  grid-template-areas: 
    " banner " 
    " b1 "
    " b2 "
    " b3 "
    " b4 "
    " b5 "
    " b6 "
    " b7 "
    " b8  "
    " b9  "
    " b10  "
    " b11  "
    " b12  "
    " b13 "
    " b14"
    " b15"
    " b16"
    " b17"
    " b18"
    " b19"
    " b20"
    " b21"
    " b22"
    " b23"
    " b24"
    " b25"
    " foot ";

  }

.banner { 
  grid-area: banner;
  padding: 0px;
  background-color:black;
  color:whitesmoke;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-size: 100%;
/*  margin-right: auto;
*/
}

/*.grid img p{
    display: none;
    background-color: whitesmoke;
}
*/
.box1 {
  background-color: white;
  margin-left: 40px;

}

.box1 p {
  color: black;
}
.box1 p {
  align-self:center;
  font-size: 40px;
  color: black;
}
.box2 {
  background-color: white;
  margin-left: 40px;
 
}
.box2 p {
  color: black;
}
.box3 {
  background-color: white;
  margin-left: 40px;

}

.box3 p {
  color: black;
}
.box4 {
  background-color: white;
  margin-left: 40px;
 
}
.box5 {
  background-color: white;
    margin-left: 40px;

}
.box6 {
  background-color: white;
    margin-left: 40px;

}
.box7 {
  background-color: white;
    margin-left: 40px;

}
.box8 {
  background-color: white;
    margin-left: 40px;

}
.box9 {
  background-color: white;
    margin-left: 40px;

}
.box10 {
  background-color: white;
    margin-left: 40px;

}

.box11 {
  background-color: white;
    margin-left: 40px;

}

.box12 {
  background-color: white;
    margin-left: 40px;

}

.box13 {
  background-color: white;
    margin-left: 40px;

}

.box14 {
  background-color: white;
    margin-left: 40px;

}

.box15 {
  background-color: white;
    margin-left: 40px;

}

.box16 {
  background-color: white;
    margin-left: 40px;

}

.box16 p {
  color: black;
}

.box17 {
  background-color: white;
    margin-left: 40px;
    color: black;

}

.box17 p {
  color: black;
}
.box18 {
  background-color: white;
    margin-left: 40px;

}
.box18 p {
  color: black;
}

.box19 {
  background-color: white;
    margin-left: 40px;

}
.box19 p {
  color: black;
}

.box20 {
  background-color: white;
    margin-left: 40px;

}
.box20 p {
  color: black;
}


.overlay_box1 {
  opacity: 1;
  position: flex;
  justify-content: center;


}
.overlay_box1 a p {
  font-size: 20px;

}

.overlay_box1 p {
  font-size: 20px;

}
.overlay_box2 {
  opacity: 1;
}
.overlay_box2 p {
  font-size: 20px;

}

.overlay_box2 a p {
  font-size: 20px;

}

.overlay_box3 {
  opacity: 1;
}

.overlay_box3 p {
  font-size: 20px;

}
.overlay_box3 a p {
  font-size: 20px;

}

.overlay_box4 {
  opacity: 1;
}

.overlay_box4 p {
  font-size: 20px;

}
.overlay_box4 a p {
  font-size: 20px;

}
.overlay_box5 {
  opacity: 1;
}
.overlay_box5 p {
  font-size: 20px;

}
.overlay_box5 a p {
  font-size: 20px;

}

.overlay_box6 {
  opacity: 1;
}
.overlay_box6 p {
  font-size: 20px;

}
.overlay_box6 a p {
  font-size: 20px;

}


.overlay_box7 {
  opacity: 1;
}
.overlay_box7 p {
  font-size: 20px;

}
.overlay_box7 a p {
  font-size: 20px;

}

.overlay_box8 {
  opacity: 1;
}  
.overlay_box8 p {
  font-size: 20px;

}
.overlay_box8 a p {
  font-size: 20px;

}

.overlay_box9 {
  opacity: 1;
}
.overlay_box9 p {
  font-size: 20px;

}
.overlay_box9 a p {
  font-size: 20px;

}

.overlay_box10 {
  opacity: 1;
}
.overlay_box10 p {
  font-size: 20px;

}
.overlay_box10 a p {
  font-size: 20px;

}
.overlay_box11 {
  opacity: 1;
}
.overlay_box11 p {
  font-size: 20px;

}
.overlay_box11 a p {
  font-size: 20px;

}
.overlay_box12 {
  opacity: 1;
}
.overlay_box12 p {
  font-size: 20px;

}
.overlay_box12 a p {
  font-size: 20px;

}
.overlay_box13 {
  opacity: 1;
}
.overlay_box13 p {
  font-size: 20px;

}
.overlay_box13 a p {
  font-size: 20px;

}
.overlay_box14 {
  opacity: 1;
}
.overlay_box14 p {
  font-size: 20px;

}
.overlay_box14 a p {
  font-size: 20px;

}
.overlay_box15 {
  opacity: 1;
}
.overlay_box15 p {
  font-size: 20px;

}
.overlay_box15 a p {
  font-size: 20px;

}

.overlay_box16 {
  opacity: 1;
}
.overlay_box16 p {
  font-size: 20px;

}
.overlay_box16 a p {
  font-size: 20px;

}

.overlay_box17 {
  opacity: 1;
  color: black;
}
.overlay_box17 p {
  font-size: 20px;
  color: black;

}
.overlay_box17 a p {
  font-size: 20px;
  color: black;

}

.overlay_box18 {
  opacity: 1;
}
.overlay_box18 p {
  font-size: 20px;

}
.overlay_box18 a p {
  font-size: 20px;

}

.overlay_box19 {
  opacity: 1;
}
.overlay_box19 p {
  font-size: 20px;

}
.overlay_box19 a p {
  font-size: 20px;

}

.overlay_box20 {
  opacity: 1;
}
.overlay_box20 p {
  font-size: 20px;

}
.overlay_box20 a p {
  font-size: 20px;

}

}



/*
    .subgrid {
  background-repeat: no-repeat;
  display: grid;
  background-position: center;
  grid-template-columns: 180px 190px 190px 190px;
  grid-template-rows: 180px;
  grid-template-areas: 
    "ib tb tb tb" 
  }

}


