*{

  background-color: black;
  color:  rgb(81, 90, 108);
  margin: 0px;
  padding: 0px;


 }

.first :hover { 
  color: black;
  background-color: yellow;
 /* transform: scale(1.4);*/
}

.second :hover { 
  color: black;
  background-color: yellow;
 /* transform: scale(1.4);*/
}

.third :hover { 
  color: black;
  background-color: yellow;
 /* transform: scale(1.4);*/
}

a :hover { 
  color: black;
  background-color: yellow;
 /* transform: scale(1.4);*/
}

a {
  text-decoration: none;
}

.banner {
  background-color:darkred;
  color:black;
  text-align: center;
  overflow: hidden;
  position: relative;
 }
