*{

  background-color: white;
  color: paleturquoise;
  margin: 0px;
  padding: 0px;


 }

.first :hover { 
  color: yellow;
  background-color: blue;
 /* transform: scale(1.4);*/
}

.second :hover { 
  color: yellow;
  background-color: blue;
 /* transform: scale(1.4);*/
}

.third :hover { 
  color: yellow;
  background-color: blue;
 /* transform: scale(1.4);*/
}

a :hover { 
  color: yellow;
  background-color: blue;
 /* transform: scale(1.4);*/
}
