 *{
  margin: 0;
  padding: 0;
  background-color: rgb(81, 90, 108);
  color: black;

 }

 .banner {
  background-color:black;
  color:darkred;
  text-align: center;
  overflow: hidden;
  position: relative;
 }

.grid {
  display: grid;
  grid-template-columns: 1fr 400px 500px 1fr;
  grid-template-rows: 30px 500px 150px;
  grid-template-areas: 
    ". header header ." 
    ". leftcolumn rightcolumn ."
    ". footer footer .";
  }



.header { 
  padding: 0px;
  grid-area: header;
  text-align: center;
}

.leftcolumn {
  padding: 0px;
  grid-area: leftcolumn;
/*  justify-content: center;
*/  align-items: center;
  overflow: hidden
 
}

.leftcolumn form {
   min-width: 100%;
   min-height: 100%;
   object-fit: fill;
    
}


.rightcolumn {
  padding: 10px;
  grid-area: rightcolumn;
  position: relative;


}

.rightcolumn image {
  display: block;

}

.rightcolumn_overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96%;
  height: 96%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_text {
  color: yellow;
  position: relative;
}

.rightcolumn_overlay:hover {
opacity: 1;
}

.footer {
  padding: 10px;
  grid-area: footer;

}

.digitals:hover { 
  background-color: black;
  transform: scale(1.4);

}

.digitals:hover a p { 
  color: white;

}
 