 *{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: black;

 }

 .banner {
 background-color:black;
  color:whitesmoke;
  overflow: hidden;
  text-align: center;
  position: relative;
 }

 

.grid {
  display: grid;
  grid-template-columns: .25fr 400px 500px 1fr;
  grid-template-rows: 18px 30px 500px 150px;
  grid-template-areas: 
    "banner banner banner banner"
    ". header header ." 
    ". rightcolumn leftcolumn ."
    ". footer footer .";
  }
.banner  {
  background-color:black;
  grid-area: banner;
  width: 100%;
  color:whitesmoke;
  text-align: center;
  overflow: hidden;
  position: relative;
 }
.banner p {
  background-color:black;
  width: 100%;
  color:whitesmoke;
  overflow: hidden;

} 


.header { 
  padding: 0px;
  grid-area: header;
 
}

.header p { 
  
  text-align: left;
  font-size: 28px;
}

.leftcolumn {
  padding: 0px;
  grid-area: leftcolumn;
/*  justify-content: center;
*/  align-items: center;
  overflow: hidden
 
}

.leftcolumn p {
  text-align: left;
  font-size: 20px;

}

.leftcolumn form {
   min-width: 100%;
   min-height: 100%;
   object-fit: fill;
    
}

.leftcolumn input {

    width: 250px;  
    height: 80px;
    font-size: 50px;

}


.rightcolumn {
  padding: 10px;
  grid-area: rightcolumn;
  position: relative;
  text-align: center;


}

.rightcolumn image {
  display: block;

}

.rightcolumn_overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96%;
  height: 96%;
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.overlay_text {
  color: yellow;
  position: relative;
}

.rightcolumn_overlay:hover {
opacity: 1;
}

.footer {
  padding: 10px;
  grid-area: footer;

}

.footer p {
  font-size: 20px;
}

.digitals:hover { 
  background-color: black;
  transform: scale(1.4);

}

.digitals:hover a p { 
  color: white;

}


@media only screen and (max-width: 1000px) {


.grid { 

  display: grid;
  grid-template-columns: .25fr 500px 400px 1fr;
  grid-template-rows: 50px 120px 600px 900px 150px;
  grid-template-areas: 
    "banner banner banner banner"
    ". header header ." 
    ". rightcolumn rightcolumn ."
    ". leftcolumn leftcolumn ."
    ". footer footer .";
  }

.banner  {
  background-color:black;
  grid-area: banner;
  width: 100%;
  color:whitesmoke;
  text-align: center;
  overflow: hidden;
  position: relative;
 }
.banner p {
  background-color:black;
  font-size: 20px;
  width: 100%;
  color:whitesmoke;
  overflow: hidden;

} 
  .header { 
  padding: 0px;
  grid-area: header;

}

.header p {
  font-size: 30px;
  text-align: center;
  padding: 10px;

}

.leftcolumn p{
  font-size: 30px;
  text-align: center;

}

.leftcolumn form {
  font-size: 30px;

}

.leftcolumn input {

    width: 250px;  
    height: 80px;
    font-size: 50px;

}

.rightcolumn {
  text-align: center;

}

.footer p {
  font-size: 100px;
}



  }