 *{
  margin: 0;
  padding: 0;
  background-color: rgb(81, 90, 108);
  color: white;

 }

.grid {
  display: grid;
  grid-template-columns: 1fr 400px 500px 1fr;
  grid-template-rows: 75px 500px 150px;
  grid-template-areas: 
    ". header header ." 
    ". leftcolumn rightcolumn ."
    ". footer footer .";
  }



.header { 
  padding: 10px;
  grid-area: header;
  text-align: center;
}

.leftcolumn {
  padding: 10px;
  grid-area: leftcolumn;
/*  justify-content: center;
*/  align-items: center;
  overflow: hidden
 
}

.leftcolumn form {
   min-width: 100%;
   min-height: 100%;
   object-fit: fill;
    
}


.rightcolumn {
  padding: 10px;
  grid-area: rightcolumn;


}

.footer {
  padding: 10px;
  grid-area: footer;

}

 
