*{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  color: black;

 }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  grid-template-rows: 150px 100px 100px 100px 150px;
  grid-template-areas: 
    ". head head head head ." 
    "tb1 tb1 tb1 tb1 tb1 tb1"
    ". tb2 tb2 tb2 tb2 ."
    ". ib3 tb3 tb3 tb3 ."
    ". foot foot foot foot .";
  }

.header { 
  grid-area: head;
  padding: 10px;
  text-align: center;
  font-size: 60px;
 
}


.imagebox1 { 
  grid-area: ib1;


 
}

.imagebox2 { 
  grid-area: ib2;

 
}

.imagebox3 { 
  grid-area: ib3;

 
}

.textbox1  { 
  padding: 5px;
  grid-area: tb1;
  text-align: center;
  font-size:30px;
  
 
}



.textbox2  { 
  grid-area: tb2;
  text-align: center;
  font-size:20px;
  color: red;
  
}

.textbox3  { 
  padding: 5px;
  grid-area: tb3;
 
}

.footer  { 
  grid-area: foot;
  display: grid;
  text-align: center;
  font-size: 80px;
 
}

mark.highlight {
  background-color: rgba(255, 255, 0, 0.7);;
  color: black;
}